.Btn {
  position: absolute;
  top: 70%;
  right: 10%;


  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: rgb(30, 45, 7);
  font-size: 24px;
}

.Btn:hover {
  cursor: pointer;
  animation-name: shadow;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(30, 45, 7);
    background-color: white;
    color: #000;
  } 100% {
    box-shadow: 0px 0px 30px 0px rgb(30, 45, 7);
    background-color: rgb(102, 27, 27);
    color: #9e95a4;
  }
}